In [1]:
#download population data

import pandas as pd
from pysus.ftp.utils import zfill_year
import requests
from pysus.online_data import IBGE
from pprint import pprint

In [2]:
def get_available_years(source):
    return sorted(set([zfill_year(f.name[-2:]) for f in IBGE.ibge.get_files(source=source)]))


pprint(f"The years available for source `POP` are: {get_available_years('POP')}")

('The years available for source `POP` are: [1992, 1993, 1994, 1995, 1997, '
 '1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, '
 '2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]')

In [16]:
IBGE.list_agregados().head(50)

Fetching Data groupings from https://servicodados.ibge.gov.br/api/v3/agregados?

,id,nome,agregados
0,D5,Áreas Urbanizadas,"[{'id': '8418', 'nome': 'Áreas urbanizadas, Lo..."
1,CL,Cadastro Central de Empresas,"[{'id': '1685', 'nome': 'Unidades locais, empr..."
2,CA,Censo Agropecuário,"[{'id': '1005', 'nome': 'Número de estabelecim..."
3,ME,"Censo Comum do Mercosul, Bolívia e Chile","[{'id': '1221', 'nome': 'População residente, ..."
4,CD,Censo Demográfico,"[{'id': '102', 'nome': 'Mulheres de 10 anos ou..."
5,CM,Contagem da População,"[{'id': '305', 'nome': 'População residente em..."
6,DU,Contas de ecossistemas: o uso da terra nos bio...,"[{'id': '7016', 'nome': 'Contas de extensão do..."
7,DT,Contas de Espécies Ameaçadas,"[{'id': '7392', 'nome': 'Número de espécies da..."
8,C4,Contas Econômicas Ambientais da Água,"[{'id': '6834', 'nome': 'Total de Recursos Híd..."
9,DR,Contas Econômicas Ambientais da Terra: Contabi...,"[{'id': '7319', 'nome': 'Estoque, por classes ..."
10,DZ,Contas Econômicas Ambientais de Energia: produ...,"[{'id': '8419', 'nome': 'Valor bruto da produç..."
11,SU,Contas Nacionais Anuais,"[{'id': '6784', 'nome': 'Produto Interno Bruto..."
12,ST,Contas Nacionais Trimestrais,"[{'id': '1620', 'nome': 'Série encadeada do ín..."
13,DE,Demografia das Empresas e Estatísticas de Empr...,"[{'id': '1936', 'nome': 'Número de empresas, p..."
14,D9,Estatísticas dos Cadastros de Microempreendedo...,"[{'id': '9589', 'nome': 'Número de microempree..."
15,XF,Estimativas de População,"[{'id': '6579', 'nome': 'População residente e..."
16,FP,Fundações Privadas e Associações Sem Fins Lucr...,"[{'id': '3500', 'nome': 'Unidades locais, pess..."
17,IU,Indicadores de Desenvolvimento Sustentável,"[{'id': '1096', 'nome': 'Participação relativa..."
18,IL,Índice de Preços ao Consumidor em Real,"[{'id': '86', 'nome': 'IPCR - Percentual no mê..."
19,IR,Índice de Preços ao Produtor,"[{'id': '3104', 'nome': 'Índice de Preços ao P..."
20,IJ,Índice de Reajuste do Salário Mínimo,"[{'id': '90', 'nome': 'IRSM - Percentual no mê..."
21,PC,Índice Nacional de Preços ao Consumidor,"[{'id': '1100', 'nome': 'INPC - Variação mensa..."
22,IA,Índice Nacional de Preços ao Consumidor Amplo,"[{'id': '118', 'nome': 'IPCA dessazonalizado -..."
23,IQ,Índice Nacional de Preços ao Consumidor Amplo 15,"[{'id': '1387', 'nome': 'IPCA15 - Variação men..."
24,IG,Índice Nacional de Preços ao Consumidor Amplo ...,"[{'id': '117', 'nome': 'IPCAE - Série históric..."
25,PG,Índice Nacional de Preços ao Consumidor Especial,"[{'id': '24', 'nome': 'INPCE - Percentual no m..."
26,LA,Levantamento Sistemático da Produção Agrícola,"[{'id': '1618', 'nome': 'Área plantada, área c..."
27,C2,Objetivos de Desenvolvimento Sustentável,"[{'id': '4277', 'nome': 'Indicador 3.4.1 - Tax..."
28,AC,Pesquisa Anual da Indústria da Construção,"[{'id': '1448', 'nome': 'Gastos de pessoal das..."
29,PB,Pesquisa Anual de Comércio,"[{'id': '1399', 'nome': 'Número de empresas co..."
30,PY,Pesquisa Anual de Serviços,"[{'id': '1', 'nome': 'Receita operacional líqu..."
31,PP,Pesquisa da Pecuária Municipal,"[{'id': '3939', 'nome': 'Efetivo dos rebanhos,..."
32,AM,Pesquisa de Assistência Médico-Sanitária,"[{'id': '211', 'nome': 'Estabelecimentos de sa..."
33,ES,Pesquisa de Estoques,"[{'id': '254', 'nome': 'Número de informantes ..."
34,PM,Pesquisa de Informações Básicas Municipais,"[{'id': '284', 'nome': 'Municípios por classe ..."
35,IT,Pesquisa de Inovação,"[{'id': '1614', 'nome': 'Pessoas ocupadas nas ..."
36,OF,Pesquisa de Orçamentos Familiares,"[{'id': '1594', 'nome': 'Despesa monetária e n..."
37,SH,Pesquisa de Serviços de Hospedagem,"[{'id': '3435', 'nome': 'Número de estabelecim..."
38,SE,Pesquisa de Serviços de Publicidade e Promoção,"[{'id': '3143', 'nome': 'Receita bruta de serv..."
39,PT,Pesquisa de Serviços de Tecnologia da Informação,"[{'id': '2285', 'nome': 'Receita bruta de serv..."
40,RC,Pesquisa Estatísticas do Registro Civil,"[{'id': '1003', 'nome': 'Escrituras de separaç..."
41,PI,Pesquisa Industrial Anual,"[{'id': '2221', 'nome': 'Dados gerais das indú..."
42,PK,Pesquisa Industrial Anual - Empresa,"[{'id': '1839', 'nome': 'Dados gerais das empr..."
43,PJ,Pesquisa Industrial Anual - Produto,"[{'id': '3323', 'nome': 'Produção e vendas dos..."
44,DG,Pesquisa Industrial Mensal - Dados Gerais,"[{'id': '49', 'nome': 'Folha de pagamento nomi..."
45,PZ,Pesquisa Industrial Mensal - Produção Física,"[{'id': '109', 'nome': 'Produção física indust..."
46,XY,Pesquisa Industrial Mensal de Emprego e Salário,"[{'id': '1628', 'nome': 'Pessoal ocupado, folh..."
47,AB,Pesquisa Mensal de Abate de Animais,"[{'id': '19', 'nome': 'Quantidade de outros an..."
48,MC,Pesquisa Mensal de Comércio,"[{'id': '1263', 'nome': 'Índices de volume e d..."
49,PE,Pesquisa Mensal de Emprego,"[{'id': '10', 'nome': 'População ocupada de 15..."

In [3]:
help(IBGE.get_population)

Help on function get_population in module pysus.online_data.IBGE:

get_population(year: int, source: Literal['POP', 'censo', 'POPTCU', 'projpop'] = 'POPTCU', censo_data: Literal['ALF', 'ESCA', 'ESCB', 'IDOSO', 'RENDA'] = 'ALF') -> pandas.core.frame.DataFrame
    Get population data from IBGE as shared by DATASUS
    :param year: year of the data
    :param source:
         "POP" - 1992-presente: Estimativas populacionais estratificadas por
                 idade e sexo.
         "censo" - 1991, 2000 e 2010: Censos Demográficos
         "POPTCU" - 1992-presente: Estimativas populacionais enviadas para o TCU,
                    estratificadas por idade e sexo pelo MS/SGEP/Datasus.
         "projpop": Estimativas preliminares para os anos intercensitários dos
                    totais populacionais, estratificadas por idade e sexo pelo
                    MS/SGEP/Datasus.
    :param censo_data:
        "ALF": Censo Demográfico
        "ESCA": Censo Escolar da Educação Básica
        "ESCB": Censo Escolar da Educação Superior
        "IDOSO": População de pessoas com 65 anos ou mais
        "RENDA": População de pessoas de acordo com a renda familiar
    :return: DataFrame with population data

In [4]:
pop_list = [ IBGE.get_population(year, source="POP") for year in get_available_years('POP')]

In [5]:
len(pop_list)

29

In [8]:
df = pd.concat(pop_list)
df.head()

  MUNIC_RES   ANO  POPULACAO
0    110001  1992      34768
1    110002  1992      61737
2    110003  1992       8633
3    110004  1992      72462
4    110005  1992      23280

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 158821 entries, 0 to 5569
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   MUNIC_RES  158821 non-null  string
 1   ANO        158821 non-null  string
 2   POPULACAO  158821 non-null  string
dtypes: string(3)
memory usage: 4.8 MB

In [10]:
df.describe()

       MUNIC_RES     ANO  POPULACAO
count     158821  158821     158821
unique     11141      29      68845
top       110001    2021       2630
freq          24    5570         21

In [12]:
df.to_csv("sample/population.csv",index=False)